# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
ordered list
python,
R,
SQL

Some of the commonly used libraries used by Data Scientists include:
- ordered list = 
- pandas,
- numpy,
- matplotlib,
- seaborn,
- scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- Understand the basics of data science and its applications.
- Learn popular languages and tools used in Data Science like Python, R, SQL.
- Explore key libraries and frameworks for data analysis, visualization, and machine learning.
- Gain insights into the data science workflow from data collection to model deployment.
- Recognize the importance of data ethics and responsible AI.

## Author
Adir